.divGeneral{
  height: 100vh;
  background: #151515;
}

.divVideo{
  padding-top: 50px;
  width: 70%;
  margin: 0 auto;
}

.titulo{
  color: #FFFFFF;
  font-family: Verdana;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 5px;
}

.iframe {
  width: 100%;
  height: 550px;
}
