<title>{{title}}</title>
<div class="divGeneral">
  <div class="generalBusqueda">
    <div id="logo" class="divLogo">
      <input type="image" src="../../../assets/img/logo.png" class="logo" (click)="home()">
    </div>
    <div id="busqueda" class="divBusqueda">
      <input class="inputBusqueda form-control" placeholder="Buscar...">
      <button class="boton-busqueda">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <div class="divMensajeTitulo">
      <p>TODO EL PORNO QUE QUIERAS</p>
    </div>

  </div>
  <div class="row divOpciones">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-dark" id="dropdownBasic1" ngbDropdownToggle>
          <i class="fa fa-list"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="viajarOpciones('categorias')">Categorías</button>
          <button ngbDropdownItem (click)="viajarOpciones('agregarVideos')">Videos</button>
        </div>

      </div>
    </div>
  </div>
</div>
