<div class="divGeneral">

  <div class="row list" >
    <div *ngFor="let obj of videos" class="video">
      <a [routerLink]="['/video']" [queryParams]="{id: obj.id}">
        <img src="{{obj.srcImagen}}" height="200" class="miniaturas">
      </a>
      <br>
      <a [routerLink]="['/video']" [queryParams]="{id: obj.id}">{{obj.descripcion}}</a>
    </div>

  </div>
  <div class="divPagination1" *ngIf="pagination.collectionSize > 0">
    <div class="divPagination2">
      <ngb-pagination class="ngbPaginationClass"
                      [(page)]="pagination.page"
                      (pageChange)="changePage($event-1)"
                      [maxSize]="pagination.maxSize"
                      [pageSize]="pagination.pageSize"
                      [collectionSize]="pagination.collectionSize"></ngb-pagination>
    </div>
  </div>

</div>
