<app-header></app-header>
<div class="divGeneral">

<div class="row list" >
  <div *ngFor="let obj of array">
    <img src="{{obj.source}}" width="300" height="200" class="miniaturas">
    

  </div>

  <div *ngFor="let obj of arrayVideo" >

    <video width=300 height=200 controls poster="{{obj.sourceImage}}" src="{{obj.sourceVideo}}">
      <!--<source src="{{obj.sourceVideo}}" type="video/mp4">-->
      <!--<source src="{{obj.sourceVideo}}" type="video/webm">-->
      <!--<source src="{{obj.sourceVideo}}"  type="video/ogg">-->
    </video>
  </div>
</div>


</div>
