@media only screen and (min-width: 1101px) and (max-width: 1440px) {

  .divGeneral{
    width: 100%;
    height: 225px;
    background: #c80034;
  }
  
  //div general
  .generalBusqueda {
    padding-top: 15px;
    width: 100%;
    margin: 0 auto;
  }
  
  //sección logo
  .divLogo {
    width: 100%;
    text-align: center;
  }
  
  //sección búsqueda
  .divBusqueda {
    width: 55%;
    margin: 0 auto;
    display: flex;
  }
  
  .inputBusqueda {
    width: 90%;
    height: 40px;
    border-radius: 3px 0px 0px 3px;
    border-right: 0px;
    border-left: 1.9px solid gray;
    border-top: 1.9px solid gray;
    border-bottom: 1.9px solid gray;
    font-family: Verdana;
  }
  
  .inputBusqueda:focus{
    box-shadow: none;
  }
  
  .boton-busqueda{
    width: 10%;
    height: 40px;
    border-radius: 0px 3px 3px 0px;
    outline: none;
    background: silver;
    border-left: 0px;
    border-right: 1.9px solid gray;
    border-top: 1.9px solid gray;
    border-bottom: 1.9px solid gray;
  }
  
  .boton-busqueda:active{
      box-shadow: inset 0px 0.5px 3px 0px black;
  }
  
  .divMensajeTitulo {
    margin-top: 10px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    font-family: Verdana;
    color: white;
  }
    //sección opciones
  .divOpciones {
    width: 100%;
  }
  
  .botonOpciones {
    width: 100%;
    text-align: center;
  }

  .botonOpciones button {
    width: 30%;
    text-align: center;
  }

  .divMenu button {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .divMenu button:hover {
    background: gray !important;
  }

}
